In [123]:
# import libraries needed
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy.orm import Session
from sqlalchemy.ext.automap import automap_base

In [124]:
# define happiness csv file path for all 3 files
happiness_file_2015 = "Resources/2015.csv"
happiness_file_2016 = "Resources/2016.csv"
happiness_file_2017 = "Resources/2017.csv"

# read happiness csv files and transform into dataframes
# store as individual dataframe
happiness_df_2015 = pd.read_csv(happiness_file_2015)
happiness_df_2016 = pd.read_csv(happiness_file_2016)
happiness_df_2017 = pd.read_csv(happiness_file_2017)

In [125]:
# check 2015 dataframe
happiness_df_2015.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

In [126]:
# remove columns we don't need for 2015
happiness_df_transformed_2015 = happiness_df_2015.drop(columns = ["Region", "Standard Error"])

# remove duplicates
happiness_df_transformed_2015.drop_duplicates("Country", inplace=True)

# add year column and default value
happiness_df_transformed_2015["Year"] = "2015"

In [127]:
#check transformed dataframe
happiness_df_transformed_2015.head()

,Country,Happiness Rank,Happiness Score,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,Year
0,Switzerland,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,2015
1,Iceland,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,2015
2,Denmark,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,2015
3,Norway,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,2015
4,Canada,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,2015

In [128]:
# check 2016 dataframe
happiness_df_2016.head()

,Country,Region,Happiness Rank,Happiness Score,Lower Confidence Interval,Upper Confidence Interval,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Denmark,Western Europe,1,7.526,7.460,7.592,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,2.73939
1,Switzerland,Western Europe,2,7.509,7.428,7.590,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083,2.69463
2,Iceland,Western Europe,3,7.501,7.333,7.669,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678,2.83137
3,Norway,Western Europe,4,7.498,7.421,7.575,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895,2.66465
4,Finland,Western Europe,5,7.413,7.351,7.475,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492,2.82596

In [129]:
# remove columns we don't need for 2016
happiness_df_transformed_2016 = happiness_df_2016.drop(columns = ["Region", "Lower Confidence Interval", "Upper Confidence Interval"])

# remove duplicates
happiness_df_transformed_2016.drop_duplicates("Country", inplace=True)

# add year column and default value
happiness_df_transformed_2016["Year"] = "2016"

happiness_df_transformed_2016.head()

,Country,Happiness Rank,Happiness Score,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,Year
0,Denmark,1,7.526,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,2.73939,2016
1,Switzerland,2,7.509,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083,2.69463,2016
2,Iceland,3,7.501,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678,2.83137,2016
3,Norway,4,7.498,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895,2.66465,2016
4,Finland,5,7.413,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492,2.82596,2016

In [130]:
#merge 2015 and 2016 dataframes together
happiness_df_2015_2016 = happiness_df_transformed_2015.append(happiness_df_transformed_2016)

#total merged dataframe row count
#should be total of 315 (158 + 157)
happiness_df_2015_2016["Country"].count()

315

In [131]:
# check 2017 dataframe
happiness_df_2017.head()

,Country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027
1,Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707
2,Iceland,3,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715
3,Switzerland,4,7.494,7.561772,7.426227,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716
4,Finland,5,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182

In [132]:
# remove columns we don't need for 2017
happiness_df_transformed_2017 = happiness_df_2017.drop(columns = ["Whisker.high", "Whisker.low"])

# remove duplicates
happiness_df_transformed_2017.drop_duplicates("Country", inplace=True)

# add year column and default value
happiness_df_transformed_2017["Year"] = "2017"

# change column order to match 2015 and 2016 dataframes
happiness_df_transformed_2017 = happiness_df_transformed_2017[['Country','Happiness.Rank','Happiness.Score',
                                                               'Economy..GDP.per.Capita.',
                                                               'Family','Health..Life.Expectancy.','Freedom',
                                                               'Trust..Government.Corruption.','Generosity',
                                                               'Dystopia.Residual','Year']]
# rename columns 
happiness_df_transformed_2017.columns = happiness_df_2015_2016.columns.tolist()
happiness_df_transformed_2017.head()

,Country,Happiness Rank,Happiness Score,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,Year
0,Norway,1,7.537,1.616463,1.533524,0.796667,0.635423,0.315964,0.362012,2.277027,2017
1,Denmark,2,7.522,1.482383,1.551122,0.792566,0.626007,0.400770,0.355280,2.313707,2017
2,Iceland,3,7.504,1.480633,1.610574,0.833552,0.627163,0.153527,0.475540,2.322715,2017
3,Switzerland,4,7.494,1.564980,1.516912,0.858131,0.620071,0.367007,0.290549,2.276716,2017
4,Finland,5,7.469,1.443572,1.540247,0.809158,0.617951,0.382612,0.245483,2.430182,2017

In [133]:
#merge 2017 dataframe to 2015 and 2016 dataframe

happiness_df_2015_2017 = happiness_df_2015_2016.append(happiness_df_transformed_2017)

#total merged dataframe row count
#should be total of 470 (158 + 157 + 155)
happiness_df_2015_2017["Country"].count()

470

In [134]:
#set index
#happiness_df_2015_2017.set_index(["Country", "Year"], inplace=True)
happiness_df_2015_2017.head()

,Country,Happiness Rank,Happiness Score,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,Year
0,Switzerland,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,2015
1,Iceland,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,2015
2,Denmark,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,2015
3,Norway,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,2015
4,Canada,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,2015

In [135]:
#create engine to replicate mysql database
connection_string = "root:abc123@localhost/ETLProject"
engine = create_engine(f'mysql://{connection_string}')

In [136]:
#check for existing tables
engine.table_names()

['happiness_2015_to_2017']

In [137]:
#insert dataframe to mysql, drop table if exists
happiness_df_2015_2017.reset_index
happiness_df_2015_2017.to_sql(name='happiness_2015_to_2017', con=engine, if_exists='replace')

In [144]:
#create query bind
conn = engine.connect()

In [148]:
#test out inserted data in mysql
year_count = pd.read_sql("SELECT YEAR, COUNT(*) AS row_count FROM  ETLproject.happiness_2015_to_2017 GROUP BY Year", conn)
year_count

   YEAR  row_count
0  2015        158
1  2016        157
2  2017        155